body {
   
    /*background:  #17171b;*/
    color: #ffffff;
    background-image:url("../img/BLUR.jpg");
    overflow-y: scroll; 
    background-repeat: no-repeat;

}

label {
    text-align:center;
    display:block;
}

input {
	background-color: rgba(0,0,0,0.1);
    color: white;
    width: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.card {
    background:red;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;

    height:30px;
    opacity:1;
    
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;

    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.card p {
    margin:0;
    padding:0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidden {
    height: 0;
    opacity: 0;
    margin-top:0px;
    margin-bottom:0px;
}