
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
   
    /*background:  #17171b;*/
    color: #ffffff;
    background-image:url("../img/blur2.png");
    overflow-y: scroll; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;

    /* no highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.navbar {
    background-image:url("../img/blur2.png");
    /*background: red;*/
    text-align:center;
    width: auto;
    height:50px;
    position:fixed;
    left:0;
    right: 0;
    /*border-bottom: 1px solid #E0E4E7;*/
    z-index:5;
}

/*label {
    text-align:center;
    display:block;
}*/

input {
    background: url('../img/search-dark.png') no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: white;
    width: 20%;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;

    margin-right:auto;
    margin-left:auto;

    position:relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input:focus {
    outline-width: 0;
}

.card {
    /*background:white;*/
    color:black;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    position:relative;

    height:120px;
    opacity:1;
    display:block;

    cursor:pointer;
    cursor:hand;
}

.whitebackground {
    background:white;
    height:100%;
    right:0px;
    position:absolute;
    width:95%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}


.card .date {
    display: table;
    background:transparent;
    
    position:absolute;
    left:0;
    height:100%;
    width:5%;
    text-align:center;

    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:25px;
    font-weight:bold;
}


.card .date p {
    display:table-cell;
    vertical-align:middle;
}

.card .text {
    display:table;
    width:40%;
    height:100%;
    text-align:center;
    float:left;
    position:absolute;
    left:30%;
}

.card .text p {
    display:table-cell;
    margin:0;
    vertical-align:middle;
    font-family: 'Open Sans Condensed', sans-serif;
}

.card #away-team {
    display:inline-block;
    width:30%;
    height:100%;
    position:absolute;
    left:0%;
}


.card #home-team {
    display:inline-block;
    width:30%;
    height:100%;
    position:absolute;
    left:70%;
}

.awaypic {
    display:inline-block;
    width:47%;
    height:100%;
    z-index:2;
    vertical-align: top;
    position:absolute;

    border-right: 60px solid transparent;
    height:0;
}

.awaypicteam {
    display:inline-block;
    width:47%;
    height:100%;
    z-index:2;
    vertical-align: top;
    position:absolute;
}
/* https://css-tricks.com/examples/ShapesOfCSS/ */

.homepic {
    display:inline-block;
    width:47%;
    height:100%;
    position:relative;
    z-index:2;
    vertical-align: top;
    position:absolute;
    right:0;

    border-left: 60px solid transparent;
    height:0;
}

.homepicteam {
    display:inline-block;
    width:47%;
    height:100%;
    z-index:2;
    vertical-align: top;
    position:absolute;
    right:0;
}


.vs {
    display:inline-block;
    width:100%;
    height:100%;
    position:relative;
    z-index:4;
    vertical-align: top;
    position:absolute;
    left:0;
}

.vs p {
    margin:0;
    text-align:center;
    position:relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}